altgraph==0.17
appdirs==1.4.4
astroid==2.4.2
autopep8==1.5.4
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
console-progressbar==1.1.2
distlib==0.3.1
docutils==0.16
filelock==3.0.12
fpdf==1.7.2
future==0.18.2
httplib2==0.18.1
idna==2.10
importlib-metadata==1.7.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pefile==2019.4.18
Pillow==7.2.0
psutil==5.7.2
pycodestyle==2.6.0
Pygments==2.6.1
PyInstaller==3.6
pylint==2.5.3
pypiwin32==223
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
six==1.15.0
tkfilebrowser==2.3.2
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.29
wrapt==1.12.1
zipp==3.1.0
